head

  title
    block title

  meta(charset="utf-8")
  meta(name="description", content="#{description}")
  meta(name="author", content="#{author}")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="robots", content="index,follow")
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="#{homepage}")
  meta(name="twitter:creator", content="@dazsnow")
  meta(name="twitter:creator:id", content="17756866")
  meta(name="twitter:url", property="og:url", content="#{homepage}")
  meta(name="twitter:title", property="og:title", content="Is Sue Snow 60?")
  meta(name="twitter:description", property="og:description", content="#{description}")
  meta(name="twitter:image", property="og:image", content="#{homepage}/img/icon.png")

  link(rel="canonical", href="#{homepage}")
  link(rel="shortcut icon", type="image/ico", href="/img/favicon.ico")
  link(rel="shortcut icon", type="image/png", href="/img/icon.png")
  link(rel="apple-touch-icon", type="image/png", href="/img/icon.png")

  block meta

  link(rel="stylesheet", href="/index.css")

  block styles
